<h1> 'My name is <%= @names %>'</h1>

<div style='border: 5px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>



<form action="/named-cat" method="get">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name=names>
    <input type="submit" value="submit">
 </ul>
</form>
